POSTGRES_PASSWORD=123456
POSTGRES_DB=fraud_alert_db
DATABASE_URL=postgresql://postgres:123456@localhost:5433/fraud_alert_db
SECRET_KEY=LzDEWClHlapijDfrZNfAPxydPuLwYKDI
BACKEND_CORS_ORIGINS='["http://localhost:3000","http://127.0.0.1:3000"]'
EMAIL=example@gmail.com
APP_PASSWORD=abcd abcd abcd abcd